   /*------------------------------------------------------------------------*/
   /*------------------------ AJUSTES INICIALES -----------------------------*/
   /*------------------------------------------------------------------------*/
   
:root{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  body{
    
    height: 100%;
    background-color: #eeeeee;
  }

  h1{
  
    font-size: 100px;
    color: white;
    margin: 60px 20%;
    
  }

  .imgBack {
    background-image: url(/assets/img/imgPortada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 500px;
}
main{
  width: 100%;
}
  .container {
    display: flex;
}

.sidebar {
    width: 14%;
    background-color: #cb0606;
    top:0;
    position: fixed;
   /*  opacity: 0.9;
    padding: 20px;
    box-sizing: border-box;*/
} 

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 86% ;
  height: 7vh;
  background-color: aquamarine;
  float: right;
  

  
}

nav ul{
  float: right;
  list-style-type: none;

}

nav ul li{
  display: inline-block;
  padding: 0px 13px;
  border: 2px solid ;
  margin-right: 5px;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.boxWhite{
  background-color: white;
  height: 300px;
  margin: 120px 20%;
  text-align: center;
}

   
   
   
   
   
   
   
   
   
   
   
   
   
